<?xml version="1.0" encoding="UTF-8">
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtg">
<suite name="Suite" parallel="none">
	<test name="Test">
		<classes>
			<class name="test.resources.TC_001"/>
			<class name="test.resources.TC_001"/>
			<class name="test.resources.TC_001"/>
		</classes>
	</test>
</suite>
			
